@import "tailwindcss";

@plugin "../hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

/* 👇 Custom animation cho modal / hiệu ứng fade + scale */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}


.html{
    scroll-behavior: smooth;

}

